// Promo

.promo {
  padding: 176px 20px 85px 20px;
}

.promo__title {
  font-family: $bebas-neue;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7.5px;
}

.promo__text {
  font-family: $bebas-neue;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.promo__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
  margin: 0 auto;
  padding: 12px 10px 15px 7px;
  border: 0;
  border-radius: 3px;
  background-color: $btn-bg-color;
}


.promo__button-text,
.promo__button-prise {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.promo__button-text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: #1a1917;
    border-radius: 0.64px;
    top: 0;
    right: -10px;
  }
}
