@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans400.woff2") format("woff2"),
    url("../fonts/opensans400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans700.woff2") format("woff2"),
    url("../fonts/opensans700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebasneue400.woff2") format("woff2"),
    url("../fonts/bebasneue400.woff") format("woff");
  font-display: swap;
}
