$bebas-neue: "Bebas Neue", "Arial", sans-serif;
$opensans: "Open Sans", "Arial", sans-serif;
$color-text: #ffffff;
$color-text-another: #1a1917;
$color-link: #ffffff;
$btn-bg-color: rgb(255, 181, 72);
// $btn-bg-color-active: #901016;
$backgroud-color: #1a1917;
$phone-width: 320px;
$desctop-width: 1440px;
$mobile-width-only: 1439px;
